
//colors
$primary: purple;
$basic_color: #fff;
$basic_blue: #5f9df5;
$basic_purple: #9591ff;
$basic_red: #d10a00;
$basic_green: #36a832;
$basic_grey: #8c8c8c;;
$dark_grey: #1d1d1d;
$light_grey: #c3cbd6;



//font-size

$basic: 18px;
$basic_small: 15px;


//sizes

$logo_width: 200px;

$custom_padding: 30px;

$standart_transition: 0.2s;


